.page_canva{
    display: flex;
    flex-direction: row;
    padding: 5vh 5vw;
    height: 90vh;
    width: 90vw;
}

.user_list {
    overflow: scroll;
    height: 40%;
    border-top-style: solid;
    border-radius: 0;
}

.user_div {
    display: flex;
    background-color: antiquewhite;
    margin: 2%;
    height: 70px;
}

.user_div > p {
    align-self: center;
    margin-left: 5%;
}

#color_selectors {
    overflow: scroll;
    height: 40%;
    border-style: solid none;
    border-radius: 0;
}

#side_menu {
    min-width: 15%;
    max-width: 20%;
    width: fit-content;
    overflow-block:clip;
}

.canva_cadre {
    width: 85%;
    border-style: solid solid solid none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#canvas {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cadre{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bloc_titre_1{
    height: 10%;
    min-height: 105px;
    overflow: scroll;
}

.bloc_titre_1 > p{
    padding-left: 2mm;
}

.bloc_titre_2{
    height: 5%;
    min-height: 40px;
}