header{
    margin-bottom: 20%;
}


nav{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    display: flex;
    position: absolute;
    background-color: #515c7f;
    width: 100%;
    border-radius: 0;
    height: 6vh;
}

.not_connected{
    color: darkgray;
    pointer-events: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 5px 15px 15px 5px;
    padding: 10px 10px;
    transition-duration: 0.3s;
}

nav a:hover{
    background-color: #8b9bcf;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

/* .color1 {color: #060606;}
.color2 {color: #202439;}
.color3 {color: #515c7f;}
.color4 {color: #8b9bcf;}
.color5 {color: #c1d3e8;} */